USE [master]
GO
/****** Object:  Database [Homnayangi]    Script Date: 3/26/2023 3:55:28 PM ******/
CREATE DATABASE [Homnayangi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Homnayangi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MONKINAM\MSSQL\DATA\Homnayangi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Homnayangi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MONKINAM\MSSQL\DATA\Homnayangi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Homnayangi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Homnayangi]
GO
/****** Object:  Table [dbo].[Accomplishment]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accomplishment](
	[accomplishmentId] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NULL,
	[authorId] [uniqueidentifier] NULL,
	[createdDate] [datetime] NULL,
	[status] [int] NULL,
	[blogId] [uniqueidentifier] NULL,
	[confirmBy] [uniqueidentifier] NULL,
	[videoURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_Accomplishment] PRIMARY KEY CLUSTERED 
(
	[accomplishmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Badge]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badge](
	[badgeId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[createDate] [datetime] NULL,
	[imageURL] [nvarchar](max) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Reward] PRIMARY KEY CLUSTERED 
(
	[badgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BadgeCondition]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BadgeCondition](
	[badgeConditionId] [uniqueidentifier] NOT NULL,
	[accomplishments] [int] NULL,
	[orders] [int] NULL,
	[createdDate] [datetime] NULL,
	[status] [bit] NULL,
	[badgeId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_BadgeCondition] PRIMARY KEY CLUSTERED 
(
	[badgeConditionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blogId] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](max) NULL,
	[imageURL] [nvarchar](max) NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
	[reaction] [int] NULL,
	[view] [int] NULL,
	[authorId] [uniqueidentifier] NULL,
	[blogStatus] [int] NULL,
	[videoURL] [nvarchar](max) NULL,
	[recipeId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[blogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogReaction]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogReaction](
	[blogId] [uniqueidentifier] NOT NULL,
	[customerId] [uniqueidentifier] NOT NULL,
	[status] [bit] NULL,
	[createdDate] [datetime] NULL,
 CONSTRAINT [PK_BlogReaction] PRIMARY KEY CLUSTERED 
(
	[blogId] ASC,
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogReference]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogReference](
	[blogReferenceId] [uniqueidentifier] NOT NULL,
	[text] [nvarchar](max) NULL,
	[html] [nvarchar](max) NULL,
	[type] [int] NOT NULL,
	[blogId] [uniqueidentifier] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_BlogReference] PRIMARY KEY CLUSTERED 
(
	[blogReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogSubCate]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogSubCate](
	[blogId] [uniqueidentifier] NOT NULL,
	[subCateId] [uniqueidentifier] NOT NULL,
	[createdDate] [datetime] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_BlogSubCate] PRIMARY KEY CLUSTERED 
(
	[blogId] ASC,
	[subCateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaloReference]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaloReference](
	[caloReferenceId] [uniqueidentifier] NOT NULL,
	[fromAge] [int] NULL,
	[toAge] [int] NULL,
	[calo] [int] NULL,
	[isMale] [bit] NULL,
 CONSTRAINT [PK_CaloReference] PRIMARY KEY CLUSTERED 
(
	[caloReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[createdDate] [datetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[commentId] [uniqueidentifier] NOT NULL,
	[authorId] [uniqueidentifier] NULL,
	[createdDate] [datetime] NULL,
	[content] [nvarchar](max) NULL,
	[status] [bit] NULL,
	[parentId] [uniqueidentifier] NULL,
	[blogId] [uniqueidentifier] NULL,
	[byStaff] [bit] NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[commentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerId] [uniqueidentifier] NOT NULL,
	[displayname] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[firstname] [nvarchar](50) NULL,
	[lastname] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[phonenumber] [nvarchar](max) NULL,
	[gender] [int] NULL,
	[avatar] [nvarchar](max) NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
	[isBlocked] [bit] NULL,
	[isGoogle] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerBadge]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerBadge](
	[customerId] [uniqueidentifier] NOT NULL,
	[badgeId] [uniqueidentifier] NOT NULL,
	[createdDate] [datetime] NULL,
 CONSTRAINT [PK_CustomerReward] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC,
	[badgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerVoucher]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerVoucher](
	[voucherId] [uniqueidentifier] NOT NULL,
	[customerId] [uniqueidentifier] NOT NULL,
	[createdDate] [datetime] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_CustomerVoucher] PRIMARY KEY CLUSTERED 
(
	[voucherId] ASC,
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[ingredientId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[unitId] [uniqueidentifier] NULL,
	[quantity] [int] NULL,
	[picture] [nvarchar](max) NULL,
	[kcal] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
	[status] [bit] NULL,
	[price] [money] NULL,
	[listImage] [nvarchar](max) NULL,
	[typeId] [uniqueidentifier] NULL,
	[listImagePosition] [nvarchar](max) NULL,
 CONSTRAINT [PK_Ingredient] PRIMARY KEY CLUSTERED 
(
	[ingredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notificationId] [uniqueidentifier] NOT NULL,
	[description] [nvarchar](max) NULL,
	[createdDate] [datetime] NULL,
	[status] [bit] NULL,
	[receiverId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[notificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderId] [uniqueidentifier] NOT NULL,
	[orderDate] [datetime] NULL,
	[shippedDate] [datetime] NULL,
	[shippedAddress] [nvarchar](max) NULL,
	[discount] [money] NULL,
	[totalPrice] [money] NULL,
	[orderStatus] [int] NULL,
	[customerId] [uniqueidentifier] NULL,
	[isCooked] [bit] NULL,
	[voucherId] [uniqueidentifier] NULL,
	[paymentMethod] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderDetailId] [uniqueidentifier] NOT NULL,
	[orderId] [uniqueidentifier] NOT NULL,
	[ingredientId] [uniqueidentifier] NOT NULL,
	[quantity] [int] NULL,
	[recipeId] [uniqueidentifier] NULL,
	[price] [money] NULL,
 CONSTRAINT [PK_OrderIngredientDetail] PRIMARY KEY CLUSTERED 
(
	[orderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PriceNote]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PriceNote](
	[priceNoteId] [uniqueidentifier] NOT NULL,
	[ingredientId] [uniqueidentifier] NULL,
	[price] [money] NULL,
	[dateApply] [datetime] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_PriceNote] PRIMARY KEY CLUSTERED 
(
	[priceNoteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[recipeId] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](max) NULL,
	[imageURL] [nvarchar](max) NULL,
	[packagePrice] [money] NULL,
	[cookedPrice] [money] NULL,
	[minSize] [int] NULL,
	[maxSize] [int] NULL,
	[totalKcal] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[recipeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeDetail]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeDetail](
	[recipeId] [uniqueidentifier] NOT NULL,
	[ingredientId] [uniqueidentifier] NOT NULL,
	[description] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_RecipeDetail] PRIMARY KEY CLUSTERED 
(
	[recipeId] ASC,
	[ingredientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeasonReference]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeasonReference](
	[seasonReferenceId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](150) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_SeasonReference] PRIMARY KEY CLUSTERED 
(
	[seasonReferenceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[subCategoryId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[createdDate] [datetime] NULL,
	[status] [bit] NULL,
	[categoryId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[subCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[transactionId] [uniqueidentifier] NOT NULL,
	[totalAmount] [money] NULL,
	[createdDate] [datetime] NULL,
	[transactionStatus] [int] NULL,
	[orderId] [uniqueidentifier] NULL,
	[customerId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[transactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[typeId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[typeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[unitId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[createdDate] [datetime] NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[unitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userId] [uniqueidentifier] NOT NULL,
	[displayname] [nvarchar](50) NULL,
	[username] [nvarchar](max) NULL,
	[firstname] [nvarchar](50) NULL,
	[lastname] [nvarchar](max) NULL,
	[email] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[phonenumber] [nvarchar](max) NULL,
	[gender] [int] NULL,
	[avatar] [nvarchar](max) NULL,
	[role] [int] NULL,
	[createdDate] [datetime] NULL,
	[updatedDate] [datetime] NULL,
	[isBlocked] [bit] NULL,
	[isGoogle] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 3/26/2023 3:55:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[voucherId] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [int] NULL,
	[createdDate] [datetime] NOT NULL,
	[validFrom] [datetime] NULL,
	[validTo] [datetime] NULL,
	[discount] [money] NULL,
	[minimumOrder] [money] NULL,
	[maximumOrder] [money] NULL,
	[authorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[voucherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Badge] ([badgeId], [name], [description], [createDate], [imageURL], [status]) VALUES (N'b8887280-3262-4705-b18c-4c0739edbade', N'Đồng', N'Rank đồng', NULL, NULL, 1)
GO
INSERT [dbo].[BlogReference] ([blogReferenceId], [text], [html], [type], [blogId], [status]) VALUES (N'f5b73aca-6032-4f17-a30a-0559b4984803', N'Làm nem rán theo cách mà Homnayangi chia sẻ dưới đây chắc chắn sẽ khiến bạn tự tin trổ tài trong những dịp nhà có cỗ hoặc làm mâm cơm Tết.', N'<p>Làm nem rán theo cách mà Homnayangi chia sẻ dưới đây chắc chắn sẽ khiến bạn tự tin trổ tài trong những dịp nhà có cỗ hoặc làm mâm cơm Tết.</p>
', 0, N'6c707aaf-cfcc-4e16-8fe3-6420cf8e3cc9', 2)
GO
INSERT [dbo].[BlogSubCate] ([blogId], [subCateId], [createdDate], [status]) VALUES (N'a9531be6-8a7a-43fd-9fe9-13ba99a65dc9', N'8c6d0b63-74d9-4931-9c2a-4b7c8b54ed0e', CAST(N'2023-02-27T21:52:50.643' AS DateTime), NULL)
INSERT [dbo].[BlogSubCate] ([blogId], [subCateId], [createdDate], [status]) VALUES (N'a9531be6-8a7a-43fd-9fe9-13ba99a65dc9', N'8b720ab2-25de-4aae-bef2-a3f780071386', CAST(N'2023-02-27T21:52:51.743' AS DateTime), NULL)
INSERT [dbo].[BlogSubCate] ([blogId], [subCateId], [createdDate], [status]) VALUES (N'5b579874-46a8-4895-bad2-1f33d4cb006a', N'9747494f-5a51-4056-bef5-c6c03305ee5c', CAST(N'2023-02-27T16:32:58.657' AS DateTime), NULL)
GO
INSERT [dbo].[CaloReference] ([caloReferenceId], [fromAge], [toAge], [calo], [isMale]) VALUES (N'f8c8138f-4e79-4a83-b891-28b2562ad382', 20, 25, 2600, 1)
GO
INSERT [dbo].[Category] ([categoryId], [name], [description], [status], [createdDate]) VALUES (N'433b682e-3651-4f4b-b688-0eaf344c51bd', N'Phong cách ăn uống', N'Các món ăn được phân loại theo phong cách ăn uống phù hợp với lựa chọn của người dùng', 1, CAST(N'2022-12-31T00:00:00.000' AS DateTime))
INSERT [dbo].[Category] ([categoryId], [name], [description], [status], [createdDate]) VALUES (N'13e8bc02-41c4-44ab-bf5f-28fa6c729c41', N'Mùa và Dịp lễ', N'các mùa và dịp lễ trong năm', 1, CAST(N'2023-03-01T16:12:29.097' AS DateTime))
INSERT [dbo].[Category] ([categoryId], [name], [description], [status], [createdDate]) VALUES (N'2d80def2-0135-4373-a4e6-2b15fc0166b6', N'Thực đơn hôm nay', N'Các món ăn được chia theo thực đơn nhằm gợi ý cho người dùng thực đơn phù hợp', 1, CAST(N'2022-12-31T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Customer] ([customerId], [displayname], [username], [firstname], [lastname], [email], [password], [phonenumber], [gender], [avatar], [createdDate], [updatedDate], [isBlocked], [isGoogle]) VALUES (N'e7e1bd28-8979-4b6e-adbc-458408e6ba41', NULL, N'Peter Vo', N'Võ', N'Văn Phương', N'vanphuong0606@gmail.com', N'31m2312', N'0971775169', 1, N'Nolink', CAST(N'2023-01-14T00:10:44.770' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Customer] ([customerId], [displayname], [username], [firstname], [lastname], [email], [password], [phonenumber], [gender], [avatar], [createdDate], [updatedDate], [isBlocked], [isGoogle]) VALUES (N'89fcfb56-be89-442d-9b99-8f498023a5cc', NULL, N'customer3', N'Nhựt', N'Phản', NULL, N'kVU41twDyttUL/SM7IO0vQ==', N'0965421541', 1, NULL, CAST(N'2023-03-22T23:42:49.643' AS DateTime), NULL, 0, NULL)
INSERT [dbo].[Customer] ([customerId], [displayname], [username], [firstname], [lastname], [email], [password], [phonenumber], [gender], [avatar], [createdDate], [updatedDate], [isBlocked], [isGoogle]) VALUES (N'31a1c0df-178d-40aa-96f1-bc932e482d22', N'Nam Nguyen Luong Hoang', NULL, NULL, NULL, N'namnlhse151269@fpt.edu.vn', NULL, NULL, NULL, N'https://lh3.googleusercontent.com/a/AGNmyxbiiDVaHtibVBOeVWlSDOVkDDVloV0FuLWomlOI=s96-c', NULL, NULL, 0, 1)
GO
INSERT [dbo].[CustomerVoucher] ([voucherId], [customerId], [createdDate], [quantity]) VALUES (N'00000000-0000-0000-0000-000000000000', N'e7e1bd28-8979-4b6e-adbc-458408e6ba41', CAST(N'2023-01-14T23:24:45.790' AS DateTime), 2)
INSERT [dbo].[CustomerVoucher] ([voucherId], [customerId], [createdDate], [quantity]) VALUES (N'8cf462b9-a323-4eca-bc01-2de9992a5a7d', N'e7e1bd28-8979-4b6e-adbc-458408e6ba41', CAST(N'2023-01-14T22:24:34.500' AS DateTime), 50)
INSERT [dbo].[CustomerVoucher] ([voucherId], [customerId], [createdDate], [quantity]) VALUES (N'dde34ee3-9dc6-46d0-830d-3128105eacad', N'e7e1bd28-8979-4b6e-adbc-458408e6ba41', CAST(N'2023-01-14T22:24:34.500' AS DateTime), 2)
GO
INSERT [dbo].[Order] ([orderId], [orderDate], [shippedDate], [shippedAddress], [discount], [totalPrice], [orderStatus], [customerId], [isCooked], [voucherId], [paymentMethod]) VALUES (N'82d5ba14-29a0-43b3-b98d-029c5b124960', CAST(N'2023-03-26T11:43:53.323' AS DateTime), NULL, N'cartAddress', NULL, 20000.0000, 2, N'89fcfb56-be89-442d-9b99-8f498023a5cc', 1, NULL, 1)
INSERT [dbo].[Order] ([orderId], [orderDate], [shippedDate], [shippedAddress], [discount], [totalPrice], [orderStatus], [customerId], [isCooked], [voucherId], [paymentMethod]) VALUES (N'8b93913a-3b49-4c67-b088-4fc723c200cf', CAST(N'2023-03-23T12:13:27.010' AS DateTime), NULL, N'test', NULL, 20000.0000, 3, N'89fcfb56-be89-442d-9b99-8f498023a5cc', 1, NULL, 1)
INSERT [dbo].[Order] ([orderId], [orderDate], [shippedDate], [shippedAddress], [discount], [totalPrice], [orderStatus], [customerId], [isCooked], [voucherId], [paymentMethod]) VALUES (N'680f6262-0c98-4e12-b50c-58690e9fe240', CAST(N'2023-03-26T11:48:23.100' AS DateTime), NULL, N'cartAddress', NULL, 20000.0000, 2, N'89fcfb56-be89-442d-9b99-8f498023a5cc', 1, NULL, 1)
GO
INSERT [dbo].[OrderDetail] ([orderDetailId], [orderId], [ingredientId], [quantity], [recipeId], [price]) VALUES (N'7bb080a1-dd98-4b9c-93fb-0a8dfae6c3b8', N'680f6262-0c98-4e12-b50c-58690e9fe240', N'a1e7eb96-9154-45b5-8ff6-c07fdecc6ad0', 1, N'ac41da30-8998-4a1f-b2e4-291d0b24dcf4', 8000.0000)
INSERT [dbo].[OrderDetail] ([orderDetailId], [orderId], [ingredientId], [quantity], [recipeId], [price]) VALUES (N'dfe4bcc2-2b2e-4356-99ef-180cf6075540', N'22d9eb1b-9b6f-43c9-8496-a7228dee0202', N'4cda4b95-9ff8-4c28-8717-89534a367f46', 1, N'ac41da30-8998-4a1f-b2e4-291d0b24dcf4', 15000.0000)
INSERT [dbo].[OrderDetail] ([orderDetailId], [orderId], [ingredientId], [quantity], [recipeId], [price]) VALUES (N'9a0920b7-4e27-4cf8-b67a-38704495cde2', N'22d9eb1b-9b6f-43c9-8496-a7228dee0202', N'a1e7eb96-9154-45b5-8ff6-c07fdecc6ad0', 1, N'ac41da30-8998-4a1f-b2e4-291d0b24dcf4', 8000.0000)
GO
INSERT [dbo].[Recipe] ([recipeId], [title], [imageURL], [packagePrice], [cookedPrice], [minSize], [maxSize], [totalKcal], [status]) VALUES (N'a9531be6-8a7a-43fd-9fe9-13ba99a65dc9', N'Cách làm mì ý sốt bò bằm ngon tại nhà 🥘🥘', NULL, 280000.0000, 80000.0000, 1, 2, 260, 1)
INSERT [dbo].[Recipe] ([recipeId], [title], [imageURL], [packagePrice], [cookedPrice], [minSize], [maxSize], [totalKcal], [status]) VALUES (N'5b579874-46a8-4895-bad2-1f33d4cb006a', N'Cách nấu canh bí đỏ với tôm thanh ngọt, tăng cường sức khỏe 😍😍😍', NULL, 100000.0000, 79999.0000, 1, 2, 340, 1)
INSERT [dbo].[Recipe] ([recipeId], [title], [imageURL], [packagePrice], [cookedPrice], [minSize], [maxSize], [totalKcal], [status]) VALUES (N'ac41da30-8998-4a1f-b2e4-291d0b24dcf4', N'Cách làm bông bí xào tỏi xanh mướt như ngoài hàng', NULL, 52000.0000, 20000.0000, 1, 2, 320, 1)
GO
INSERT [dbo].[RecipeDetail] ([recipeId], [ingredientId], [description], [quantity], [status]) VALUES (N'a9531be6-8a7a-43fd-9fe9-13ba99a65dc9', N'd9cf8215-0305-4780-8b85-058dff1c74cc', N'tỏi, một hoặc nhiều tùy khẩu vị', 1, NULL)
INSERT [dbo].[RecipeDetail] ([recipeId], [ingredientId], [description], [quantity], [status]) VALUES (N'a9531be6-8a7a-43fd-9fe9-13ba99a65dc9', N'b6bb08b4-eec9-4429-b526-38a4deb84a5e', N'phô mai sợi', 1, NULL)
INSERT [dbo].[RecipeDetail] ([recipeId], [ingredientId], [description], [quantity], [status]) VALUES (N'a9531be6-8a7a-43fd-9fe9-13ba99a65dc9', N'255fab51-a6e3-4a17-a0b3-3fc53344a18c', N'tương cà', 1, NULL)
GO
INSERT [dbo].[SubCategory] ([subCategoryId], [name], [description], [createdDate], [status], [categoryId]) VALUES (N'93a460cc-f092-447f-aaf5-0564cd0ffadc', N'Giảm cân', N'Giảm cân', CAST(N'2022-12-31T23:17:20.830' AS DateTime), 1, N'433b682e-3651-4f4b-b688-0eaf344c51bd')
INSERT [dbo].[SubCategory] ([subCategoryId], [name], [description], [createdDate], [status], [categoryId]) VALUES (N'3bc469f2-df84-491f-a64a-119400614291', N'Bún', N'Bún', CAST(N'2022-12-31T23:17:20.830' AS DateTime), 1, N'3b8ab3d0-08df-47f1-bf9f-ecf895fd0daa')
INSERT [dbo].[SubCategory] ([subCategoryId], [name], [description], [createdDate], [status], [categoryId]) VALUES (N'a7766c2a-8faf-48f9-bdec-1dfaba22ecf3', N'Miền Bắc', N'Miền Bắc', CAST(N'2022-12-31T23:17:20.830' AS DateTime), 1, N'14465782-6f37-4a8f-8d5e-7a0bea7f3b4c')
GO
INSERT [dbo].[Transaction] ([transactionId], [totalAmount], [createdDate], [transactionStatus], [orderId], [customerId]) VALUES (N'82d5ba14-29a0-43b3-b98d-029c5b124960', 20000.0000, CAST(N'2023-03-26T11:43:53.323' AS DateTime), 2, NULL, N'89fcfb56-be89-442d-9b99-8f498023a5cc')
INSERT [dbo].[Transaction] ([transactionId], [totalAmount], [createdDate], [transactionStatus], [orderId], [customerId]) VALUES (N'8b93913a-3b49-4c67-b088-4fc723c200cf', 20000.0000, CAST(N'2023-03-23T12:13:27.010' AS DateTime), 3, NULL, N'89fcfb56-be89-442d-9b99-8f498023a5cc')
INSERT [dbo].[Transaction] ([transactionId], [totalAmount], [createdDate], [transactionStatus], [orderId], [customerId]) VALUES (N'680f6262-0c98-4e12-b50c-58690e9fe240', 20000.0000, CAST(N'2023-03-26T11:48:23.100' AS DateTime), 2, NULL, N'89fcfb56-be89-442d-9b99-8f498023a5cc')
GO
INSERT [dbo].[Type] ([typeId], [name], [description], [status]) VALUES (N'53418c10-fd90-42c8-951a-0e4430008078', N'Đồ hộp', N'Đồ hộp', 1)
INSERT [dbo].[Type] ([typeId], [name], [description], [status]) VALUES (N'b7ffc72e-ade7-436c-983e-461fe5b78dfc', N'Gia vị', N'gia vị', 1)
INSERT [dbo].[Type] ([typeId], [name], [description], [status]) VALUES (N'59152ba3-f4b0-47b2-9412-63d368756026', N'adad', N'adad', 0)
GO
INSERT [dbo].[Unit] ([unitId], [name], [description], [createdDate], [status]) VALUES (N'a2d09468-11ea-4db0-bb25-11b2b01d89a1', N'hộp', N'hộp', NULL, 1)
INSERT [dbo].[Unit] ([unitId], [name], [description], [createdDate], [status]) VALUES (N'dabc7178-e761-4748-b8f7-1ffc98dfb0c4', N'chai', N'string', NULL, 1)
INSERT [dbo].[Unit] ([unitId], [name], [description], [createdDate], [status]) VALUES (N'1082dc1a-ac02-452a-b847-25bf5b98630c', N'trái', N'trái', NULL, 1)
GO
INSERT [dbo].[User] ([userId], [displayname], [username], [firstname], [lastname], [email], [password], [phonenumber], [gender], [avatar], [role], [createdDate], [updatedDate], [isBlocked], [isGoogle]) VALUES (N'211a77bd-7e7a-4fc4-a391-39577a66935d', NULL, N'minhnhut', N'Nhut', N'Nhut', N'minhnhut@gmail.com', N'kVU41twDyttUL/SM7IO0vQ==', N'0985412541', 1, NULL, 1, CAST(N'2022-12-31T23:12:44.720' AS DateTime), CAST(N'2022-12-31T23:12:44.720' AS DateTime), 0, 0)
INSERT [dbo].[User] ([userId], [displayname], [username], [firstname], [lastname], [email], [password], [phonenumber], [gender], [avatar], [role], [createdDate], [updatedDate], [isBlocked], [isGoogle]) VALUES (N'749f5b3b-dea1-49a4-98b8-96da197d123f', NULL, N'vanphuong0606', N'Phương', N'Võ Văn', N'vanphuong0606@gmail.com', N'kVU41twDyttUL/SM7IO0vQ==', N'0971775169', 1, NULL, 2, CAST(N'2022-12-31T23:12:44.720' AS DateTime), CAST(N'2022-12-31T23:12:44.720' AS DateTime), 0, 0)
INSERT [dbo].[User] ([userId], [displayname], [username], [firstname], [lastname], [email], [password], [phonenumber], [gender], [avatar], [role], [createdDate], [updatedDate], [isBlocked], [isGoogle]) VALUES (N'c1bd7421-a3d0-496a-a775-b307737777c1', NULL, N'monkeynam208', N' Nam', N'Nguyễn Lương Hoàng', N'monkeynam208@gmail.com', N'kVU41twDyttUL/SM7IO0vQ==', N'0987603163', 1, NULL, 1, CAST(N'2022-12-31T23:12:44.720' AS DateTime), CAST(N'2022-12-31T23:12:44.720' AS DateTime), 0, 1)
GO
INSERT [dbo].[Voucher] ([voucherId], [name], [description], [status], [createdDate], [validFrom], [validTo], [discount], [minimumOrder], [maximumOrder], [authorId]) VALUES (N'00000000-0000-0000-0000-000000000000', N'Nạp lần đầu', N'string', 3, CAST(N'2023-01-13T22:46:45.213' AS DateTime), CAST(N'2023-01-14T00:08:19.010' AS DateTime), CAST(N'2023-01-14T00:08:19.010' AS DateTime), 15000.0000, 23000.0000, 150000.0000, N'c1bd7421-a3d0-496a-a775-b307737777c1')
INSERT [dbo].[Voucher] ([voucherId], [name], [description], [status], [createdDate], [validFrom], [validTo], [discount], [minimumOrder], [maximumOrder], [authorId]) VALUES (N'8cf462b9-a323-4eca-bc01-2de9992a5a7d', N'Nạp lần đầu', N'No thing', 0, CAST(N'2023-01-13T22:46:45.213' AS DateTime), CAST(N'2023-01-13T22:46:45.213' AS DateTime), CAST(N'2023-01-13T22:46:45.213' AS DateTime), 15000.0000, 23000.0000, 150000.0000, N'c1bd7421-a3d0-496a-a775-b307737777c1')
INSERT [dbo].[Voucher] ([voucherId], [name], [description], [status], [createdDate], [validFrom], [validTo], [discount], [minimumOrder], [maximumOrder], [authorId]) VALUES (N'dde34ee3-9dc6-46d0-830d-3128105eacad', N'Nạp lần đầu', N'No thing', 1, CAST(N'2023-01-14T00:08:19.180' AS DateTime), CAST(N'2023-01-14T00:08:19.180' AS DateTime), CAST(N'2023-01-14T00:08:19.180' AS DateTime), 15000.0000, 23000.0000, 150000.0000, N'c1bd7421-a3d0-496a-a775-b307737777c1')
GO
ALTER TABLE [dbo].[Accomplishment]  WITH CHECK ADD  CONSTRAINT [FK_Accomplishment_Blog] FOREIGN KEY([blogId])
REFERENCES [dbo].[Blog] ([blogId])
GO
ALTER TABLE [dbo].[Accomplishment] CHECK CONSTRAINT [FK_Accomplishment_Blog]
GO
ALTER TABLE [dbo].[Accomplishment]  WITH CHECK ADD  CONSTRAINT [FK_Accomplishment_Customer] FOREIGN KEY([authorId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[Accomplishment] CHECK CONSTRAINT [FK_Accomplishment_Customer]
GO
ALTER TABLE [dbo].[Accomplishment]  WITH CHECK ADD  CONSTRAINT [FK_Accomplishment_User] FOREIGN KEY([confirmBy])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Accomplishment] CHECK CONSTRAINT [FK_Accomplishment_User]
GO
ALTER TABLE [dbo].[BadgeCondition]  WITH CHECK ADD  CONSTRAINT [FK_BadgeCondition_Badge] FOREIGN KEY([badgeId])
REFERENCES [dbo].[Badge] ([badgeId])
GO
ALTER TABLE [dbo].[BadgeCondition] CHECK CONSTRAINT [FK_BadgeCondition_Badge]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_Recipe1] FOREIGN KEY([recipeId])
REFERENCES [dbo].[Recipe] ([recipeId])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_Recipe1]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_Blog_User] FOREIGN KEY([authorId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_Blog_User]
GO
ALTER TABLE [dbo].[BlogReaction]  WITH CHECK ADD  CONSTRAINT [FK_BlogReaction_Blog] FOREIGN KEY([blogId])
REFERENCES [dbo].[Blog] ([blogId])
GO
ALTER TABLE [dbo].[BlogReaction] CHECK CONSTRAINT [FK_BlogReaction_Blog]
GO
ALTER TABLE [dbo].[BlogReaction]  WITH CHECK ADD  CONSTRAINT [FK_BlogReaction_Customer] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[BlogReaction] CHECK CONSTRAINT [FK_BlogReaction_Customer]
GO
ALTER TABLE [dbo].[BlogReference]  WITH CHECK ADD  CONSTRAINT [FK_BlogReference_Blog] FOREIGN KEY([blogId])
REFERENCES [dbo].[Blog] ([blogId])
GO
ALTER TABLE [dbo].[BlogReference] CHECK CONSTRAINT [FK_BlogReference_Blog]
GO
ALTER TABLE [dbo].[BlogSubCate]  WITH CHECK ADD  CONSTRAINT [FK_BlogSubCate_Blog] FOREIGN KEY([blogId])
REFERENCES [dbo].[Blog] ([blogId])
GO
ALTER TABLE [dbo].[BlogSubCate] CHECK CONSTRAINT [FK_BlogSubCate_Blog]
GO
ALTER TABLE [dbo].[BlogSubCate]  WITH CHECK ADD  CONSTRAINT [FK_BlogSubCate_SubCategory] FOREIGN KEY([subCateId])
REFERENCES [dbo].[SubCategory] ([subCategoryId])
GO
ALTER TABLE [dbo].[BlogSubCate] CHECK CONSTRAINT [FK_BlogSubCate_SubCategory]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Blog] FOREIGN KEY([blogId])
REFERENCES [dbo].[Blog] ([blogId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Blog]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Comment] FOREIGN KEY([parentId])
REFERENCES [dbo].[Comment] ([commentId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Comment]
GO
ALTER TABLE [dbo].[CustomerBadge]  WITH CHECK ADD  CONSTRAINT [FK_CustomerBadge_Badge] FOREIGN KEY([badgeId])
REFERENCES [dbo].[Badge] ([badgeId])
GO
ALTER TABLE [dbo].[CustomerBadge] CHECK CONSTRAINT [FK_CustomerBadge_Badge]
GO
ALTER TABLE [dbo].[CustomerBadge]  WITH CHECK ADD  CONSTRAINT [FK_CustomerBadge_Customer] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[CustomerBadge] CHECK CONSTRAINT [FK_CustomerBadge_Customer]
GO
ALTER TABLE [dbo].[CustomerVoucher]  WITH CHECK ADD  CONSTRAINT [FK_CustomerVoucher_Customer] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[CustomerVoucher] CHECK CONSTRAINT [FK_CustomerVoucher_Customer]
GO
ALTER TABLE [dbo].[CustomerVoucher]  WITH CHECK ADD  CONSTRAINT [FK_CustomerVoucher_Voucher] FOREIGN KEY([voucherId])
REFERENCES [dbo].[Voucher] ([voucherId])
GO
ALTER TABLE [dbo].[CustomerVoucher] CHECK CONSTRAINT [FK_CustomerVoucher_Voucher]
GO
ALTER TABLE [dbo].[Ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Ingredient_Type] FOREIGN KEY([typeId])
REFERENCES [dbo].[Type] ([typeId])
GO
ALTER TABLE [dbo].[Ingredient] CHECK CONSTRAINT [FK_Ingredient_Type]
GO
ALTER TABLE [dbo].[Ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Ingredient_Unit] FOREIGN KEY([unitId])
REFERENCES [dbo].[Unit] ([unitId])
GO
ALTER TABLE [dbo].[Ingredient] CHECK CONSTRAINT [FK_Ingredient_Unit]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customerId])
REFERENCES [dbo].[Customer] ([customerId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Ingredient] FOREIGN KEY([ingredientId])
REFERENCES [dbo].[Ingredient] ([ingredientId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Ingredient]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO
ALTER TABLE [dbo].[RecipeDetail]  WITH CHECK ADD  CONSTRAINT [FK_RecipeDetail_Ingredient] FOREIGN KEY([ingredientId])
REFERENCES [dbo].[Ingredient] ([ingredientId])
GO
ALTER TABLE [dbo].[RecipeDetail] CHECK CONSTRAINT [FK_RecipeDetail_Ingredient]
GO
ALTER TABLE [dbo].[RecipeDetail]  WITH CHECK ADD  CONSTRAINT [FK_RecipeDetail_Recipe] FOREIGN KEY([recipeId])
REFERENCES [dbo].[Recipe] ([recipeId])
GO
ALTER TABLE [dbo].[RecipeDetail] CHECK CONSTRAINT [FK_RecipeDetail_Recipe]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Category] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([categoryId])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_Tag_Category]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Order] FOREIGN KEY([orderId])
REFERENCES [dbo].[Order] ([orderId])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Order]
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD  CONSTRAINT [FK_Voucher_User] FOREIGN KEY([authorId])
REFERENCES [dbo].[User] ([userId])
GO
ALTER TABLE [dbo].[Voucher] CHECK CONSTRAINT [FK_Voucher_User]
GO
USE [master]
GO
